h1{
    font-size:20px;
    color:lightgoldenrodyellow;
    
}

p {
    font-size: 70px;
    color: white;
}

button {
    font-size: 50px;
}

div {
    font-size: 65px;
    color: white;
}

body {
    background-color: black;
}
